/* @theme simple-dark */

@import 'default';

section.title {
    --title-height: 75px;
    --subtitle-height: 60px;
    overflow: visible;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr minmax(calc(var(--title-height) * 1.2), auto) minmax(var(--subtitle-height), auto) 1fr;
    grid-template-areas: "." "title" "subtitle" ".";
    background-color: #202729;
    border: none;
}

section.title h1,
section.title h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
    height: auto;
    line-height: normal;
    font-size: min(calc(var(--title-height) * 0.7), 6vw); /* 最大文字サイズを制限 */
}

section.title h1 {
    grid-area: title;
    border-bottom: 2px solid #5dc38d;
    padding-bottom: 1rem;
    font-size: min(calc(var(--title-height) * 0.8), 14vw); /* タイトルの文字サイズを調整 */
}

section.title h2 {
    grid-area: subtitle;
    padding-top: 1rem;
    font-size: min(calc(var(--subtitle-height) * 0.5), 12vw); /* サブタイトルの文字サイズを調整 */
}

section.fit {
	justify-content: center;
}

section {
    justify-content: start;
    color: #000;
    background-color: #fff;
    border-bottom: 20px solid #5dc38d;
}

img[alt~="center"]{
	display: block;
	margin: 0 auto;
}
